@model MCV.net.Models.ForgetPassword

<h4>ForgetPassword</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model?.isEmailSent == true)
        {
            <div  class="alert alert-success" role="alert">
               <p>Email sent succssefully.Please check your email</p>    
            </div>

        }
        else
        {
            <form asp-action="ForgetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </form>
            
        }
       

    </div>
</div>

<div>
    <a asp-action="Login" asp-controller="Account">Back to Login</a>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}