@model Account


<div class="row col-12 col-lg-6">
       <div asp-validation-summary="ModelOnly" class="danger text-danger">

     </div>  
     <h1>Registration Form</h1>
       <form method="post">
      <div class="mb-3">
        <label class="form-label">Username</label>
            <input class="form-control" id="username" type="text" asp-for="Username" />
            <span asp-validation-for="Username" class="danger text-danger"></span>
      </div>

      <div>
        <label class="form-label">Email</label>
        <input type="email" id="email" class="form-control" asp-for="Email"/>
            <span asp-validation-for="Email" class="danger text-danger"></span>

      </div>
        <div>
            <label class="form-label">University</label>
            <input type="text" id="University" class="form-control" asp-for="University" />
            <span asp-validation-for="University" class="danger text-danger"></span>
        </div>
    <div>
        <label class="form-label">Password</label>
            <input type="password" id="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="danger text-danger"></span>
        
    </div>
        <div>
            <label class="form-label">Confirm Password</label>
            <input type="password" id="ConfirmPassword" class="form-control" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="danger text-danger"></span>

        </div>

    <div>
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
    </form>
   

</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}