@model Model1
@{
    ViewData["Title"] = "Delete";
}
 
<form method="post" asp-action="Delete">
    <input hidden asp-for="Id" />
     <div class="p-3 m-3 border">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Model</h2>
        </div>
        <hr />

        <div asp-validation-summary="All">
        </div>
        <div class="mb-3">
            <label asp-for="Name">  </label>
            <input disabled asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder">  </label>
            <input disabled asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="CreatDateTime">  </label>
            <input disabled asp-for="CreatDateTime" class="form-control" />
            <span asp-validation-for="CreatDateTime" class="text-danger"></span>

        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a class="btn btn-primary" asp-controller="Model1" asp-action="Index" style="width:150px">List of Models</a>
       

    </div>

</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
