@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager;
@inject   UserManager<IdentityUser> userManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MCV.net</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*     bootswatches themes*@
    <link rel="stylesheet" href="~/css/bootsWatch.css" asp-append-version="true" />
    @* minified file for  toastr  notification *@
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/MCV.net.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand"  style="font-size:22px;color:white"> Project Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
           <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>

                       @*  @if (signInManager .IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Model1" asp-action="Index">ModleDatebase</a>
                                
                             </li>
                         } *@
                        @if (signInManager.IsSignedIn(User))
                        {
                            var user = await userManager.GetUserAsync(User);
                            var isInRole = await userManager.IsInRoleAsync(user, "SuperAdmin");
                            if (isInRole)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Projects</a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="AddCategories" asp-action="Index">Categories</a>

                                </li>
                            }
                        }

         
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>


      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" fdprocessedid="i5cly">Search</button>
      </form>

                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="text-light m-2">
                            <a asp-action="Index" asp-controller="Projects">   @User?.Identity?.Name </a>
                            <div class="nav-item">
                                <a asp-action="Index" asp-controller="Projects">   Projects </a>

                            </div>
                        </div>
                        <div class="d-flex m-2">
                            <a class="btn btn-primary me-2" asp-controller="Account" asp-action="Logout">Logout</a>
                         </div>
                    }
                    else
                    {
                        <div class="d-flex m-2">
                            <a class="btn btn-primary me-2" asp-controller="Account" asp-action="Register">Register</a>
                            <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
                        </div>
                    }


      

    </div>
  </div>
</nav>
         
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />

             @*<p>Render Start </p>*@
            @RenderBody() 
            
          @* <p>Render end </p>*@

        </main>
    </div>

    <footer class="footer text-muted fw-bold h5" style="margin-top:100px">
        <div class="container">
            &copy; Made by Falastin Bawaqna  
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

     <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
